fastapi==0.137.2
langchain_core==1.4.8
langchain_ollama==1.1.0
langgraph==1.2.6
pydantic==2.13.4
pymongo==4.17.0
python-dotenv==1.2.2
Requests==2.34.2
speechrecognition==3.16.1
uvicorn==0.49.0

python-multipart